<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="combitech.com.againstrumentcluster" >
    <receiver android:name=".NetworkStateReceiver">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".iot.appcore.MyApplication">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD2nTxUoOht1ajgXAt6Fa2rq9KoVj8HOck" />

        <activity
            android:name=".InstrumentClusterActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="combitech.com.againstrumentcluster.iot.IOTAlarmBroadcastReceiver" android:enabled="true" ></receiver>
        <service android:name="combitech.com.againstrumentcluster.iot.MQTTIntervalService" android:enabled="true" ></service>
    </application>

</manifest>
